#####################################################################
# 	LED Control
#####################################################################

[neopixel chamber_light]
pin: P1.24
chain_count: 57
color_order: GRB

[led_effect error]
leds:
    neopixel:chamber_light
layers:
    strobe 1 1.5 add (1.0,  1.0, 1.0)
    breathing 2 0 difference (0.95, 0.0, 0.0)
    static 1 0 top (1.0,  0.0, 0.0)
autostart: false
frame_rate: 24
run_on_error: true

[led_effect light]
leds:
    neopixel:chamber_light
layers: 
    static       1 0  top  (1.0, 1.0, 1.0)
autostart:                             false
frame_rate:   10

[led_effect heating]
leds:
    neopixel:chamber_light
autostart: false
frame_rate: 24
heater: heater_bed
layers:
    breathing   15   0 difference  (1, 0, 0)  
    static 1 0 top (.1, 0.0, 0.0)

[led_effect waiting]
leds:
    neopixel:chamber_light
autostart: false
frame_rate: 24
heater: heater_bed
layers:
    breathing   15   0 difference  (0, 1, 0)  
    static 1 0 top (0, .1, 0.0)

[led_effect idle]
leds:                               
    neopixel:chamber_light
layers:            
    breathing   15   0 add  (.5, .5, .5)  
    gradient    0.5  0 top  (.5, 0.0, 0.0),(0.0, .5, 0.0),(0.0, 0.0, .5)
frame_rate:                            24
autostart:                             true

[led_effect tada]
leds:
    neopixel:chamber_light
layers:
    strobe 2 1.5 add (1.0, 1.0, 1.0)
    breathing 3 0 difference (0, 0.95, 0.0)
    static 2 0 top (0.0,  1.0, 0.0)
autostart: false
frame_rate: 24
run_on_error: true